.crad-contanor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 230px;
    height: auto;
    background: #AAB8C3;
    border: 2px solid #0C2B4E;
}

.card-image2 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #0C2B4E;
}

.card-name {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px 0;
    color: #1A3D64;
}

.buy-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #1A3D64;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.description {
    color: #1D546C;
}


.buy-button:hover {
    background-color: #61ae4f;
    transform: scale(1.05);
}

.card-cont:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buy-button:hover {
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    width: 205px;
    height: 205px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #0C2B4E;
    margin-top: 10px;
    align-items: center;
}

.buy-button-image {
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin: 10px 20px;
}