 .top-bar {
     position: absolute;
     top: 10px;
     right: 20px;
     font-size: 14px;

 }

 .top-options {
     display: flex;
     gap: 10px;
     align-items: center;
     margin-right: 50px;
 }

 .top-link {
     color: #F6F8D5;

 }

 .name {
     background-color: #184880;
     text-align: center;
     justify-content: center;
     color: white;
     padding: 1px;
 }

 .card-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     padding: 20px;
 }


 .card1 {
     background-color: #fff;
     border: 2px solid #000000;
     border-radius: 100px 100px 10px 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 150px;
     height: 150px;
     text-align: center;
     padding: 16px;
     transition: transform 0.2s;
     margin-left: 20px;
     display: justify;
     flex-wrap: wrap;


 }

 .card-image {
     width: 100px;
     height: 100px;
     border-radius: 10px 10px 0px 0px;
     padding: 5px 2px;
     margin-top: 0px;
 }

 .links-text {
     color: black;
     font-size: larger;
     cursor: pointer;
 }


 .Main-card-title-1 {
     background-color: #184880;
     text-align: center;
     justify-content: center;
     color: white;
     padding: 1px;
     width: 100%;
 }

 .crad-contanor {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     padding: 20px;
 }

 .card-cont {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     border-radius: 20px;
     padding: 20px;
     width: 230px;
     height: auto;
     background: #317fe6;
     border: 2px solid #0C2B4E;
 }

 .card-image2 {
     width: 200px;
     height: 200px;
     border-radius: 20px;
     border: 2px solid #0C2B4E;

 }

 .card-name {
     font-weight: bold;
     font-size: 25px;
     margin-top: 5px 0;
     color: #1A3D64;
 }

 .card2 {
     background-color: #fff;
     border: 2px solid #000000;
     border-radius: 100px 100px 10px 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 150px;
     height: 175px;
     text-align: center;
     padding: 16px;
     transition: transform 0.2s;
     margin-left: 20px;
     display: justify;
     flex-wrap: wrap;
 }

 .buy-button {
     display: flex;
     align-items: center;
     gap: 8px;
     background-color: #89da75;
     border: none;
     border-radius: 8px;
     padding: 10px 20px;
     cursor: pointer;
     font-size: 18px;
     color: white;
     font-weight: bold;
     transition: 0.3s ease;
 }

 .description {
     color: #1D546C;
 }

 .buy-button img {
     width: 28px;
     height: auto;
     margin-right: 8px;
 }

 .buy-button:hover {
     background-color: #61ae4f;
     transform: scale(1.05);
 }

 .card-cont:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .buy-button:hover {
     color: white;
     transition: all 0.3s ease;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .card-image2:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transform: translateY(-5px);
     transition: all 0.3s ease;
     width: 205px;
     height: 205px;
 }

 .price {
     font-size: 20px;
     font-weight: bold;
     color: #0C2B4E;
     margin-top: 10px;
 }

 .buy-button-image {
     width: 30px;
     height: 25px;
     cursor: pointer;
     margin: 10px 20px;
 }

 .Main-card-title-2 {
     background-color: #184880;
     text-align: center;
     justify-content: center;
     color: white;
     padding: 1px;
     width: 100%;

 }


 .buy-button-1 {
     text-align: center;
     background-color: #1A3D64;
     color: white;
     font-size: 18px;
     border-radius: 10px;
     padding: 10px 10px;
     border: none;
     width: 120px;
     font-weight: bold;
     margin-bottom: 10px;
     cursor: pointer;
 }

 .buy-button-1:hover {
     background-color: #61ae4f;
     transform: scale(1.05);
 }

 .button-buyy {
     text-decoration: none;
     color: white;
 }



 @media (max-width: 768px) {}