footer {
    background-color: #0C2B4E;
    color: white;
    padding: 20px 0;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px;
}


.footer-box {
    width: 250px;
    margin: 10px;
}


.footer-box h3 {
    margin-bottom: 10px;
}


.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin: 6px 0;
}


.footer-box a {
    color: white;
    text-decoration: none;
}

.footer-box a:hover {
    text-decoration: underline;
}

.quick-links {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: white;
}

.quick-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
    margin-top: 5px;
}

.footer-icon {
    width: 30px;
    height: 28px;
    margin-right: 10px;
    border-radius: 30%;
    border: 1px solid white;


}