* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 85%;
    align-items: center;
    max-width: 1000px;
    background: #fff;
    margin: 80px auto;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: 55%;
    padding: 20px;
}

.left-section h1 {
    color: #0C2B4E;
    font-size: 30px;
}

.left-section p {
    margin-top: 10px;
    color: #555;
}

.shopping-img img {
    width: 300px;
    margin-top: 20px;
}

.right-section {
    width: 45%;
    background: #1D546c;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.right-section h2 {
    color: #0C2B4E;
}


.form-group {
    margin: 15px 0;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

.forgot {
    display: block;
    margin: 10px 0;
    color: #0C2B4E;
    font-size: 14px;
    text-decoration: none;
}

.login-btn {
    width: 70%;
    padding: 10px;
    background: #0C2B4E;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.create {
    display: block;
    margin-top: 15px;
    color: #0C2B4E;
    font-size: 15px;
    text-decoration: none;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}
