body {
    margin: 0;
    padding: 0;
    font: Arial, sans-serif;
    background-color: #EFECE3;
    position: relative;

}

.top-bar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
}

.top-options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}

.top-link {
    text-decoration: none;
    color: #F6F8D5;
    font-weight: 500;
    transition: color 0.3s ease;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 8px 10px;
    width: 80px;
    margin-top: 20px;
    margin-right: -30px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* MAIN NAVBAR */
.navbar-main-container {
    background-color: #0C2B4E;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    position: sticky;
    top: 0;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-name {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.main-logo {
    width: 45px;
    height: 45px;
    border-radius: 70%;
}

/* NAV LINKS */
.navbar-links-container {
    display: flex;
    gap: 30px;
    cursor: pointer;
    flex-wrap: wrap;
}

.nav-links-text {
    text-decoration: none;
    color: #F6F8D5;
    font-weight: bold;
    font-size: 16px;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 8px 12px;
    width: 120px;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.search-icon {
    width: 20px;
}

@media (max-width: 992px) {
    .navbar-main-container {
        padding: 12px 20px;
    }

    .navbar-links-container {
        gap: 20px;
    }

    .project-name {
        font-size: 20px;
    }
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .navbar-main-container {
        flex-direction: column;
        align-items: start;
        gap: 12px;
        position: relative;
    }

    .navbar-links-container {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .nav-links-text {
        padding: 6px 0;
        display: block;
    }

    .search-bar {
        width: 100%;
        margin: 0;
    }

    .top-options {
        margin-right: 0;
        width: 100%;
        justify-content: start;
    }
}

@media (max-width: 480px) {
    .project-name {
        font-size: 18px;
    }

    .main-logo {
        width: 38px;
        height: 38px;
    }

    .navbar-links-container {
        gap: 10px;
    }
}